#pragma code_page(65001)

#include <windows.h>
#include "resource.h"

IDI_APP ICON "..\\favicon.ico"
IDI_GITHUB ICON "github_mark.ico"
IDR_VTS_API_GUIDE RCDATA "..\\st_vts_api.png"
IDR_PLUGIN_LOGO RCDATA "..\\logo.png"

IDD_CUSTOM_FPS DIALOGEX 0, 0, 226, 92
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION "自定义帧率"
FONT 9, "Microsoft YaHei UI"
BEGIN
    LTEXT           "请输入 1–240 FPS：", -1, 10, 10, 206, 12
    EDITTEXT        IDC_FPS_EDIT, 10, 26, 206, 20, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "输入内容会在这里直接显示，确定后才会应用。", -1, 10, 51, 206, 12
    DEFPUSHBUTTON   "确定", IDOK, 92, 69, 60, 15
    PUSHBUTTON      "取消", IDCANCEL, 156, 69, 60, 15
END

IDD_BORDER_SETTINGS DIALOGEX 0, 0, 300, 430
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION "个性化"
FONT 9, "Microsoft YaHei UI"
BEGIN
    LTEXT           "边框颜色：", -1, 10, 12, 65, 12
    COMBOBOX        IDC_BORDER_MODE, 78, 9, 212, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "", IDC_BORDER_COLOR_WHEEL, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 55, 32, 190, 190
    CTEXT           "#1884FF  ·  RGB(24, 132, 255)", IDC_BORDER_COLOR_TEXT, 20, 228, 260, 14

    LTEXT           "亮度：", IDC_BORDER_COLOR_BRIGHTNESS_LABEL, 10, 248, 40, 12
    CONTROL         "", IDC_BORDER_COLOR_BRIGHTNESS, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 52, 244, 238, 20

    LTEXT           "粗细：", IDC_BORDER_THICKNESS_LABEL, 10, 270, 40, 12
    CONTROL         "", IDC_BORDER_THICKNESS, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 52, 266, 200, 20
    RTEXT           "4", IDC_BORDER_THICKNESS_VALUE, 258, 270, 32, 12

    LTEXT           "模型不透明度：", IDC_MODEL_OPACITY_LABEL, 10, 295, 78, 12
    CONTROL         "", IDC_MODEL_OPACITY, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 88, 290, 160, 20
    RTEXT           "100%", IDC_MODEL_OPACITY_VALUE, 252, 295, 36, 12

    CONTROL         "鼠标悬停模型时透明化", IDC_HOVER_FADE_ENABLED, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 317, 280, 14
    LTEXT           "当鼠标经过模型或模型经过鼠标时将对模型调整透明度", IDC_HOVER_HINT, 26, 331, 264, 10
    LTEXT           "悬停不透明度：", IDC_HOVER_OPACITY_LABEL, 10, 350, 78, 12
    CONTROL         "", IDC_HOVER_OPACITY, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 88, 345, 160, 20
    RTEXT           "45%", IDC_HOVER_OPACITY_VALUE, 252, 350, 36, 12

    LTEXT           "悬停边界扩展：", IDC_HOVER_EXPAND_LABEL, 10, 372, 78, 12
    CONTROL         "", IDC_HOVER_EXPAND, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 88, 367, 130, 20
    RTEXT           "0px", IDC_HOVER_EXPAND_VALUE, 222, 372, 30, 12
    PUSHBUTTON      "重置", IDC_HOVER_EXPAND_RESET, 258, 369, 32, 14

    PUSHBUTTON      "恢复默认", IDC_BORDER_RESET, 10, 410, 68, 15
    DEFPUSHBUTTON   "完成", IDOK, 166, 410, 58, 15
    PUSHBUTTON      "取消", IDCANCEL, 232, 410, 58, 15
END
